@import "../sass/variables";
@import "../sass/mixins";

.block {
  @include block();
  flex-direction: column;
  .topContainer {
    padding: 10px;
    width: 70%;
    height: 20%;
    display: flex;
    justify-content: flex-end;
    @media screen and (max-width: 992px) {
      justify-content: center;
      width: 100%;
      height: 35%;
    }
    .infoContainer {
      display: none;
      @media screen and (max-width: 992px) {
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .photo {
          z-index: 10;
          border-radius: 50%;
          width: 160px;
          height: 160px;
        }
        .name {
          z-index: 2;
          width: 100%;
          text-align: center;
          @include text($mainTextStyle, 1rem, 1.2);
          font-weight: 600;
          margin-top: 10px;
          color: black;
        }
      }
    }

    .buttons {
      height: 100%;
      display: flex;
      align-items: flex-end;
      @media screen and (max-width: 992px) {
        width: 0%;
        justify-content: center;
      }
      @media screen and (max-width: 540px) {
        flex-direction: column;
      }

      .buttonItem {
        background: rgba(255, 255, 255, 0.2);
        border: 1px solid transparent;
        color: #000000;
        height: 40px;
        line-height: 2.5rem;
        width: 40px;
        padding: 0;
        margin: 2px;
        border-radius: 25px;
        text-align: center;
        @media screen and (max-width: 992px) {
          color: black;
          height: auto;
        }
      }
    }
  }


  .bottomContainer {
    @include container();
    height: 80%;


    display: flex;
    flex-direction: column;
    @media screen and (max-width: 992px) {
      min-height: 65%;
    }

    .menuBlock {
      width: 100%;
      height: 20%;
      display: flex;
      border-bottom: 2px solid gainsboro;
      justify-content: flex-start;


      .infoContainer {
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translate(0, -140px);
        @media screen and (max-width: 992px) {
          display: none
        }

        .photo {
          z-index: 10;
          width: 100%;
          border-radius: 50%;
          @media screen and (max-width: 992px) {
            width: 160px;
            height: 160px;
            margin: 0;

          }
        }

        .name {
          z-index: 2;
          width: 100%;
          text-align: center;
          @include text($mainTextStyle, 1rem, 1.2);
          font-weight: 600;
          margin-top: 10px;
          color: black;
          @media screen and (max-width: 992px) {
            margin: 0
          }
        }
      }


      .menuContainer {
        width: 70%;
        height: 100%;
        align-items: center;
        display: flex;
        @media screen and (max-width: 992px) {
          width: 100%;
          justify-content: center;
        }

        .menuItem {
          width: 50px;
          height: 50px;
          background-color: gainsboro;
          margin: 2px;
          border-radius: 5px;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .profileSelectedBlock {
      width: 100%;
      height: 80%;
      display: flex;

      .profileSelectedContainer {
        width: 100%;
        height: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        @media screen and (max-width: 992px) {
          width: 100%;
        }
      }
    }
  }
}
