$textColor: #ffffff;
$primaryColor: #8224e3;
//$promeryColor: lightpink;
$bgColor1: #f0f0f0;
$bgColor2: #ffffff;

$mainTextStyle: "Quicksand", Verdana, sans-serif;
$secondTextStyle: "Nunito Sans", Arial, sans-serif;
