

.formControl.error input,
.formControl.error textarea
{
    border: solid red 5px;
}

.formControl.error span{
    color: red;
}

.formSunneryError{
    border: solid red 5px;;
    padding: 5px;
    color: darkblue;
}