.formControl{
    width: 100%;
}

.formControl.error input,
.formControl.error textarea
{
    border: solid red 1px;
}

.formControl.error span{
    color: red;
}

.formSunnierError{
    border: solid red 1px;;
    padding: 5px;
    color: darkblue;
}