@import "../../sass/variables";
@import "../../sass/mixins";


.chatContainer {
  padding: 10px;
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom: 1px solid gainsboro;
  @include scroll();
  .btn{
    align-self: center;

    @include button(20px, fit-content)
  }


  .chat {
    margin: 1px;

    .my {
      margin-left: 20%;
      display: flex;
      justify-content: flex-end;
      .sms {
        padding: 5px;
        min-width: 50px;
        height: 40px;
        background-color: gainsboro;
        border-radius: 10px;
      }
    }

    .friend {
      margin-right: 20%;
      display: flex;
      justify-content: flex-start;

      .sms {
        border: 2px solid gainsboro;
        padding: 5px;
        min-width: 50px;
        min-height: 40px;
        border-radius: 10px;
      }

    }
  }
}