@import "../../sass/variables";
@import "../../sass/mixins";

.sendField {
  width: 300px;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;

  .printMess {
    padding: 5px;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    outline:none;

  }

  .sendMess {
    margin-left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: none;
    background-color: $primaryColor;
    min-width: 50px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;


  }
}