.nav {
    grid-area: n;
    background-color: aqua;
}
.item{
    color: azure;
}
.item.ac{
    color: blue;
}
.block{

    background: fuchsia;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.userContainer{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}