.block {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: azure;
}

.container {
    width: 70%;
    height: 80%;
    background: cornflowerblue;
    display: flex;
    justify-content: space-between;
}

.contact {
    overflow: scroll;
    width: 35%;
    border: 2px solid #2f792f;
    display: flex;
    flex-direction: column;

}


.massages {

    border: 2px solid #263826;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.fieldMessages{
    overflow: auto;
}
