.block {
    height: 100vh;
    background: fuchsia;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 60%;
    height: 80%;
    background: #ec7b38;
    display: flex;
    position: relative;

}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 1px;
    background-color: #f0f0f0;
}

.another {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
