.container{
    width: 100%;
    display: flex;
}
.sms{
    border: 2px solid ;
    width: fit-content;
    padding: 3px;
    margin: 5px;
    border-radius: 10px;
}
.smsOther{
justify-content: flex-start;
}
.smsMy{
justify-content: flex-end;
}
